@{
    ViewData["Title"] = "عکسها";
}

@section scripts{

        <script>


            var fileChanged3 = function (input, imgInScope, imageElementId) {
                if (input.files && input.files[0]) {


                    for (var i = 0; i < input.files.length; i++) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var dd = e.target.result;
                            $('#newImgList').append('<img src=' + dd + ' style="height:70px;padding-right:5px;"  />');
                        }
                        reader.readAsDataURL(input.files[i]);
                    }

                    $('#uploadBtn').css('display', (input.files.length > 0) ? 'block' : 'none');
                }
            };
        </script>
}

<div style="margin-top: 14px;">

    @{Html.RenderPartial("ImageUploader");}

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1" id="imagesShow">
            @{
                var slidShowImages = ViewData["SlidShowImages"] as List<string>;
                var i = 0;

                foreach (var img in slidShowImages)
                {
                    <div class="col-xs-4 col-sm-3 col-md-2 card">
                        @using (Html.BeginForm("RemoveImage", "Gallery", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <button class="btn pull-left btn-danger" name="name" value="@img">X</button>
                        }

                        <img src="@img" />
                    </div>

                }
            }
        </div>

    </div>
</div>



