.body-content {
    margin-top: 40px;
    /*min-height: 80vh;*/
}
.body-content>.row {
    margin-right: 0;
    margin-left: 0;
}


@font-face {
    font-family: 'IRANsans';
    src: url('/wwwroot/fonts/A Iranian Sans.ttf') format('truetype'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('/wwwroot/fonts/A Iranian Sans.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

*:not(.glyphicon):not(.mdtp__digit):not(.mdtp__time_holder):not(.mce-ico):not(.la):not( .flowchart-operator-inputs-outputs) {
    font-family: IRANsans !important;
    /*direction: rtl !important;*/
    /*font-size: 12px;*/
}

#imagesShow img {
    max-width: 100%;
    max-height: 130px;
    min-height: 50px;
}

#imagesShow .btn-danger {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    padding: 0;
    background: red;
    color: white;
    font-family: tahoma !important;
}

#imagesShow .card {
    text-align: center;
    min-height: 190px;
    display: table;
    border: 1px solid #c7c7c7;
    padding: 16px 0 0 0;
}


input[type=color] {
    padding: 0px;
}