﻿
@{
    ViewData["Title"] = "لیست کارتها";
}
@using GalleryMaker._1.DAL


<div id="mainContainer" class="row " style="min-height: 90vh; margin-right: 0px;">
    <div class="col-md-2 col-sm-3 text-center">
        <div class="card">
            <a href="/Gallery"> کارت جدید <span class="glyphicon glyphicon-plus"></span> </a>
        </div>

    </div>
    @foreach (var p in (List<Project>)ViewData["Projects"])
    {
        <div class="col-md-2 col-sm-3 text-center" id="proj_@p.Id">
            <div class="card">
              
                <a href="/Gallery/Index/@p.Id"> @p.Name </a>
                <h6>@p.DateTime</h6> 
                <div class="btns">
                    <button type="submit" name="id" value="@p.Id" onclick="api.removeProj(@p.Id)" class="btn btn-danger btn-xs trans-bg no-border">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>

        </div>
    }
</div>



@section scripts{

    <script type="text/javascript">

        var api =
        {
            removeProj: function (id) {

                $.ajax({
                    url: '/Home/RemoveProj',
                    data: { id: id },
                    method: 'post',
                    success: function (res) {
                        $("#proj_" + id).remove();

                    }
                });

            },

            renameProject: function (id, name) {
            }
        }
    </script>

}
<style>
    .text-center{
        text-align: -webkit-center;
    }
    .card {
        padding: 40px;
        border: 1px solid #b5b5b5;
        width: 75%;
        min-width: 130px;
        height: 183px;
        -webkit-box-shadow: 2px 2px 6px 1px #ccc;
        -moz-box-shadow: 2px 2px 6px 1px #ccc;
        box-shadow: 2px 2px 6px 1px #ccc;
    }

    .card .btns{
        position: absolute;
        width: 75%;
        min-width: 130px;
        bottom: 0;
        left: 13%;
        padding: 5px 0;  
    }
</style>



